:root {
    --article-subtitle-font-size: 18px;
    --subarticle-subtitle-font-size: 16px;

    --article-subtitle-web-font-size: 140%;
    --subarticle-subtitle-web-font-size: 120%;
    --article-text-web-font-size: 100%;
}

.article {
    padding: 16px;
}

.article__head-content {
    height: auto;
}

.article__title {
    font-size: 20px;
}

.article__details {
    margin-top: 8px;
    font-size: var(--details-font-size);
}

.article__author-name {
    font-weight: 700;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 16px
}

.content__subcontent {
    margin-top: 8px;
    font-size: 16px;
}

.content__subtitle {
    font-size: var(--article-subtitle-font-size);
}

.content__subcontent-title {
    font-size: var(--subarticle-subtitle-font-size);
}

.content__text {
    text-align: justify;
    font-size: var(--paragraph-font-size);
}

.content__list {
    padding: 0 24px;
}

@media only screen and (min-width: 600px) {
    .article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .article__head-content {
        margin-top: 16px;
        width: 800px;
    }

    .article__title {
        font-size: 200%;
    }
    
    .article__details {
        font-size: 100%;
    }
       
    .content {
        width: 800px;
    }

    .content__text {
        font-size: 100%;
    }

    .content__subtitle {
        font-size: 140%;
    }

    .content__subcontent-title {
        font-size: 120%;
    }
}
