.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: var(--dark-strong-color);
}

.header__img {
    height: 25px;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .header {
        height: 120px;
    }

    .header__img {
        height: 60px;
    }
}