.content img {
    display: block;
    max-width: 80%;
    height: auto;
    margin: auto;
}

img[alt$=">"] {
    float: right;
    margin-left: 20px;
    max-width: 45%;
}

img[alt$="<"] {
    float: left;
    margin-right: 20px;
    max-width: 45%;
}

img[alt$="><"] {
    margin: 1%;
    max-width: 47%;
}